body{
   margin: 0;
padding: 0;
background: url(wallpaper.jpg) no-repeat;
background-size: cover;
cursor: url('cursor.png'), auto;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    font-family: 'SF Pro',sans-serif;
    border-radius: 25px;
}
.box-img{
    border-radius: 50%;
width: 200px;
height: 200px;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    transform: scale(1.3);
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    cursor: url('link.png'), auto;
    transform: scale(1.3);
    transition: transform 0.3s cubic-bezier(0.85, 0, 0.15, 1);
    color: #b9b9b9
}
